
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd


.venv/
venv/
env/


*.ipynb
.ipynb_checkpoints/


.vscode/
.idea/
*.swp
*.swo

.git/
.gitignore

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak

docker-compose.yml

*.pth
*.pt

datasets/
checkpoints/

# Тесты
tests/
